/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body, div, form, table {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body {
	font-family: verdana;
	font-size: 12px;
}

div#header {
	position: fixed;
	top: 0px;
	width: 98%;
	margin: 0px 1%;
	height: 35px;
	border-bottom: solid 1px grey;
	border-left: solid 1px grey;
	border-right: solid 1px grey;
	background-color: white;
	z-index: 900;
}

#seasons-controls {
	float: right;
	margin: 9px 10px 0px;
	font-weight: bold;
}

#stats-controls {
	float: right;
	margin: 8px 10px 0px;
}

#stats-controls span.stats-field {
	margin: 0px 3px;
	font-weight: bold;
}

#player-controls {
	width: 305px;
	margin: 6px  6px;
	padding: 0px;
}

#player-filter {
	width: 300px;
	height: 18px;
	font-size: 14px;
	border: solid grey 1px;
	margin: 0px;
}

#player-list {
	width: 300px;
	max-height: 500px;
	margin: 0px;
	padding: 0px;
	border: solid 1px grey;
	background-color: white;
	overflow-y: scroll;
	z-index: 1000;
}

#player-list li {
	list-style-type: none;
	padding: 2px 5px;
}

#player-list li.selected {
	background-color: grey;
}

div#content {
	position:absolute;
	width: 100%;
	top: 35px;
	text-align: center;
}

#season-stats {
	margin: 53px auto;
	border-collapse: collapse;
}

#season-stats th, #season-stats td {
	width: 100px;
	border-bottom: solid grey 1px;	
}

#season-stats thead {
	position: fixed;
	top: 35px;
	background-color: white;
	border-top: solid white 10px;
	z-index: 800;
}

#season-stats thead th {
	height: 40px;	
}

#season-stats th {
	font-size: 9px;
}

#season-stats tbody td {
	height: 35px;
	overflow: hidden;
}

#season-stats thead td {
	border: none;
}

.alt-bg {
	background-color: #f6f6f6;
}

.highlight {
	color: green;
}

div.stat {
	padding: 3px 0px;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
	display: none;
}

div.stat.cur {
	display: block;
}